.App {
  max-width: 700px;
  padding: 100px;
  margin: auto;
  margin-top: 10px;
}
.heading {
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px rgb(187, 184, 184);
}
h2 {
  text-align: center;
}
.open-source-link {
  color: rgb(92, 92, 92);
  font-size: 12px;
  margin-top: 75px;
}
.results-styling {
  border-color: black;
}
