.App {
  max-width: 700px;
  padding: 100px;
  margin: auto;
  margin-top: 10px;
}
.heading {
  text-align: center;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
h2 {
  text-align: center;
}
.open-source-link {
  color: rgb(92, 92, 92);
  font-size: 12px;
  margin-top: 75px;
}
.results-styling {
  border-color: black;
}
@media (max-width: 750px) {
  .heading {
    font-size: 50px;
  }
}
